/* 
File Type: CSS Style
Project Name: AECC Dev Team Website
Creator: Derek Diaz Correa
Date: 11/19/10
*/

.left {
	float:left;
}

.right {
	float:right;
}


body{
	background-image:url(images/bg.png);
	background-repeat:repeat-x;
	background-color:#EEEEEE;
	font-family:"Courier New", Courier, monospace
}

#header{
	height:170px;
	width:75%;
	margin-left:auto;
	margin-right:auto;
}

#header_top{
	background-image:url(images/header_top_bg_mid.png);
	background-repeat:repeat-x;
	height:130px;
}

#navigation{
	height:40px;
	background-image:url(images/nav_02.png);
	background-repeat:repeat-x;	
}

#navigation ul{
	list-style:none;
	float:left;
	margin:0;
	
}

#navigation ul li{
	border-right:1px solid #555;
	list-style:none;
	float:left;
}

#navigation ul li a {
	color:#000;
	display:block;
	text-align:center;
	line-height:40px;
	width:150px;
	text-decoration:none;
	text-shadow:0px 1px 4px #333333;
}

#navigation ul li a:hover {
	background-image:url('images/menuBG.png');
	background-repeat:repeat-x;
	color:#fff;
}

#content {
	border-right:1px solid #999;
	border-left:1px solid #999;
	border-botton:1px solid #999;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	width:75%;
	background-image:url(images/content_bg.png);
	background-repeat:repeat-x;
	background-color:#efefef;
}

#content_main{
	height:550px;
	float:left;
	width:60%;
	margin-left:10px;
	margin-top:5px;
	border:1px solid #999;
	background-color:#FFF;
}



#footer {
	background-image:url(images/header_top_bg_mid.png);
	background-repeat:repeat-x;
	height:170px;
	width:75%;
	margin-left:auto;
	margin-right:auto;
}
#footer h3{
	text-align:center;
	margin:auto;
}
