﻿/************************************
            By Derek Diaz Correa

           For INDUNIV
************************************/


body{
	font-family:Arial, Helvetica, sans-serif;
}

#wrapper{
	width:800px;
	height:900px;	
}

#header{
	height:150px;
	position:relative;
	margin-left:5px;
	background-image:url('img/bg.png');
	background-repeat:repeat-x;
	white-space:nowrap;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	}
	
#logo{
	height:150px;
	background-image:url('img/logo.png');
	background-repeat:no-repeat;
	margin-left:15px;
}

#helix{
	width:450px;
	background-image:url('img/helix.png');
	background-repeat:no-repeat;
	height:150px;
}

#menu{
	height:100px;
	position:relative;
	margin-left:5px;
	background-image:url('img/navbg.png');
	background-repeat:repeat-x;
	border:0;
	margin-left:-10px;
	margin-right:-10px;

}

#menuItem{

	height:50px;
	float:left;
	color:silver;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	
}

#menu_wrapper{
	margin-left:10px;
}

#bodyMain{
	margin-left:5px;

}

#content{
	float:left;
	width:650px;

	
	
}

#sponsors{
	float:right;
	width:300px;
}

#sponsorsText{
	padding-top:15px;
}

#sponsorsTop{
   background-image:url('img/sidebox_top.jpg');
   background-repeat:no-repeat;
   height:10px;
}

#sponsorsMiddle{
 background-image:url('img/sidebox_bg.jpg');
 background-repeat:repeat-y;
 height:250px;	
}

#sponsorsBottom{
  background-image:url('img/sidebox_bottom.jpg');
  background-repeat:no-repeat;
  height:10px;
	
}

#footer{
	background-image:url('img/footer-bg.png');
	background-repeat:repeat-x;
	font-size:small;
	height:100px;
	margin-top:900px;
    margin-left:-10px;
	margin-right:-10px;
	margin-bottom:-20px;
}

#induniv{
	width:200px;
	float:left;
	height:50px;
	margin-top:25px;
	margin-left:5px;
}

#bioalliance{
	margin-top:20px;
	margin-right:5px;
	width:200px;
	float:right;
	height:50px;
}

#footer-bar{
	background-image:url('img/footer-barnull.png');
	background-repeat:repeat-x;
	height:5px;

	

}


ul {
	list-style:none;
	margin:0;
	padding:0;
	padding-left:5px;
}
li a {
	display:block;
	padding:5px 10px;
	height:100%;
	color:#FFF;
	text-decoration:none;
}

li a:hover{
	color:green;
	text-decoration:underline;
}

#slideshow {
    position:relative;
    height:350px;
    margin-left:26px;
    margin-top:30px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}


#res{
	width:150px;
	height:220px;
	float:left;
	
}






