@charset "utf-8";
/* CSS Document */

body{
 background-image:url(../img/bg.png);
 background-repeat:repeat;
 height:100%;
 width:100%;
}

#header{
	margin-left:auto;
	margin-right:auto;
}

.title{
	text-shadow: 1px 1px 2px #919191;
    filter: dropshadow(color=#919191, offx=1, offy=1);
	color:#FFF;
	font-family: 'Share Tech', sans-serif;
	text-align:center;
	font-size:55px;
}

.subtitle{
	text-shadow: 1px 1px 2px #919191;
    filter: dropshadow(color=#919191, offx=1, offy=1);
	color:#FFF;
	font-family: 'Share Tech', sans-serif;
	text-align:center;
	font-size:40px;
}

#clock{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 97px;
	overflow: hidden;
}

.sectionTitle{
	text-shadow: 1px 1px 2px #919191;
    filter: dropshadow(color=#919191, offx=1, offy=1);
	color:#FFF;
	font-family: 'Share Tech', sans-serif;
	text-align:left;
	font-size:30px;
	margin-left: auto;
	margin-right: auto;
	width: 460px;
}

.endTime{
	text-shadow: 1px 1px 2px #919191;
    filter: dropshadow(color=#919191, offx=1, offy=1);
	color:#C00;
	font-family: 'Share Tech', sans-serif;
	text-align:center;
	font-size:40px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

#announcements{
	-webkit-border-radius: 10px;
    border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background-color:#EBEBEB;
	text-shadow: 1px 1px 2px #919191;
    filter: dropshadow(color=#919191, offx=1, offy=1);
	color:#000;
	font-family: 'Share Tech', sans-serif;
	font-size:25px;
	padding: 10px;
	margin-top: 15px;
}

