﻿/* 
File Type: CSS Style
Project Name: AECC Dev Team Website
Creator: Derek Diaz Correa
Date: 11/19/10
*/

body {
	margin:0;
	width:100%;
	background-image:url('images/container_bg.png');
	background-repeat:repeat-x;
	background-color:#c8d7dc;

}

#header {
	background-image:url('images/header2.png');
	background-repeat:repeat-x;
	height:120px;
	width:100%;
	margin-left:0;
	margin-right:0;
}

#header_container{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#menu {
	background-image:url('images/header_02.png');
	background-repeat:repeat-x;
	margin-top:-15px;
	margin-left:0;
	margin-right:0;
	width:100%;
	height:50px;
}

#menu ul li{
	margin-top:0;
	border-right:1px solid #555;
	list-style:none;
	float:left;
}

#menu ul li a {
	color:#000;
	display:block;
	text-align:center;
	line-height:49px;
	width:150px;
	text-decoration:none;
	text-shadow:0px 1px 4px #333333;
	float:left;
}

#menu ul li a:hover {
	background-image:url('images/menuBG.png');
	background-repeat:repeat-x;
	color:#fff;
	float:left;
}


#container{
	background-image:url('images/container_bg2.png');
	background-repeat:repeat-x;
	background-color:#e0e0e0;
    width:75%;
	margin-left:auto;
	margin-right:auto;
	height:800px;
}

#main_content{
	width:70%;
	background-color:gray;
	height:600px;
	margin-left:15px;
	padding-top:10px;

}

#footer{
	background-image:url('images/header2.png');
	background-repeat:repeat-x;
	height:120px;
	width:100%;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;

}
