﻿<div id="content_inside">
			<div id="content_inside_sidebar">
				<h2>Recent Entries</h2>
				<ul>
					<li><a href="#">Hammond Airlifted To New Hospital</a></li>
					<li><a href="#">EDG3 Design Seven Released</a></li>
					<li><a href="#">Hammond Has Taken First Steps</a></li>
					<li><a href="#">Usb Cell</a></li>
					<li><a href="#">EDG3 Design Six Released</a></li>
				</ul>
				<h2>Sponsered Links</h2>
				<ul>
					<li><a href="#" title="Your Templates Resource.">4Templates</a></li>
					<li><a href="#" title="Come To Share, Come To Learn.">Attackr</a></li>
					<li><a href="#" title="View My Del.icio.us Profile">Del.icio.us</a></li>
					<li><a href="#" title="PHP / MySQL Web Hosting (Powered by Linux)">Evo Hosting</a></li>
					<li><a href="#" title="Community. Driven.">Open Designs</a></li>
					<li><a href="#" title="View My Technorati Profile">Technorati</a></li>
					<li><a href="#" title="Easiest. Money. Ever.">Text Link Ads</a></li>
					<li><a href="#" title="Be Part Of The Greater Good Websites.">W3C Sites</a></li>
					<li><a href="#" title="Free Website Tools And Web Resources">ZeroWeb</a></li>
				</ul>
				<h2>Blogroll</h2>
				<ul>
					<li><a href="#" title="">Andreas Viklund</a></li>
					<li><a href="#" title="Freelance Web Site Design">Christopher Robinson</a></li>
					<li><a href="#" title="">Ethan Neuenswander</a></li>
					<li><a href="#" title="">Jeremy Duenas</a></li>
					<li><a href="#" title="">Karen Blundell</a></li>
					<li><a href="#" title="This &#65533;N That">Rubin Kaplan</a></li>
					<li><a href="#" title="">Seanrox</a></li>
				</ul>
			</div>
