﻿/**DEREK DIAZ CORREA**/
/**8/8/2010**/
/**For DIAZ CORREA DENTAL**/

body{
	font-family:Arial, Helvetica, sans-serif;
	margin:auto;
	width:800px;
	background-image:url('images/bg5.png');
	background-repeat:repeat-x;
	background-color:#E1E1E1;
	
}

.right{
	float:right;
}


.error{
	color:red;
}

#header{
	height:120px;
	width:800px;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}

#header img.facebook{
	float:right;
	width:100px;
	height:35px;
	text-decoration:none;
	border:none;
	padding-top:5px;
	padding-right:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	
}

#menu {
	background-image:url('images/menu3.png');
	background-repeat:repeat-x;
	margin-top:-15px;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
}


#menu_item ul li a {
	border-right:1px solid #555;
	float:left;
	list-style:none;
	width:100px;
	text-align:center;
	height:30px;
	list-style:none;
	text-decoration:none;
	float:left;
	color:black;
	text-shadow:0px 1px 4px #333333;
	text-decoration:none;
	padding-top:10px;
}

#menu_item ul li.last a {
	border-right:0px solid #555;
	float:left;
	list-style:none;
	width:100px;
	text-align:center;
	height:30px;
	list-style:none;
	text-decoration:none;
	float:left;
	color:black;
	text-shadow:0px 1px 4px #333333;
	text-decoration:none;
	padding-top:10px;

}


#menu_item ul li {
	float:left;
	height:30px;
	list-style:none;
	width:100px;
	text-decoration:none;
}

#menu_item ul li.last  {
	float:left;
	height:30px;
	list-style:none;
	width:100px;
	text-decoration:none;
}



#menu_item a:hover {
	background-image:url('images/menu_arrow.png');
	color:#fff;
}

#menu_item li.last a:hover {
	background-image:url('images/menu_arrow.png');
	color:#fff;
}

#menu_item li.last a.active {
	background-image:url('images/menu_arrow.png');
	color:#fff;
}



#menu_item a.active{
	background-image:url('images/menu_arrow.png');
	color:#fff;
}


#slider{
	width:800px;
	height:250px;
	background-color:#afafaf;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

#slider {
	position:relative;
	background:url(images/loading.gif) no-repeat 50% 50%; 
}

#content{
	height:auto;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	background-color:#FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#content p{
	text-align:justify;
	margin-left:auto;
	margin-right:auto;
	padding:10px;	
}

#content p.dentists{
	text-align:justify;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	padding-bottom:75px;	
}

#content p.main{
	text-align:justify;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	padding-bottom:200px;	
}

#content p.form{
	text-align:left;
}


#content img.center{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#content img.smile {
	padding-left:5px;
	float:right;
	height:auto;
}

#content input{
	width:150px;
}


#content h1{
	text-shadow:0px 1px 4px #333333;
	text-align:center;
}

#content h2{
	text-shadow:0px 1px 4px #333333;
}

#content h3{
	text-shadow:0px 1px 4px #333333;
	text-align:left;
	padding-left:10px;
}

.google_map{
	float:right;
	padding:10px;
}

#box{
	height:250px;
	width:200px;
	border:1px solid #555;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float:right;
}

#footer{
	background-image:url('images/footer3.png');
	background-repeat:repeat-x;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	color:white;
	text-align:center;
	font-size:small;
	text-shadow:0px 1px 4px #333333;
}

#slideshow {
    position:relative;
    height:350px;
	margin-left:180px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}



