﻿/* 
File Type: CSS Style
Project Name: AECC Dev Team Website
Creator: Derek Diaz Correa
Date: 11/23/10
*/

.center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.login {
	float:right;
	text-align:right;
	padding-right:50px;
}



body {
	margin:0;
	width:100%;
	background-image:url('images/container_bg.png');
	background-repeat:repeat-x;
	background-color:#c8d7dc;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

#header {
	background-image:url('images/header2.png');
	background-repeat:repeat-x;
	height:120px;
	width:100%;
	margin-left:0;
	margin-right:0;
}

#header_container{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#menu {
	background-image:url('images/header_02.png');
	background-repeat:repeat-x;
	margin-top:-15px;
	margin-left:0;
	margin-right:0;
	width:100%;
	height:50px;
}

#menu ul li{
	margin-top:0;
	border-right:1px solid #555;
	list-style:none;
	float:left;
}

#menu ul li a {
	color:#000;
	display:block;
	text-align:center;
	line-height:49px;
	width:150px;
	text-decoration:none;
	text-shadow:0px 1px 4px #333333;
	float:left;
}

#menu ul li a:hover {
	background-image:url('images/menuBG.png');
	background-repeat:repeat-x;
	color:#fff;
	float:left;
}


#container{
	background-image:url('images/container_bg2.png');
	background-repeat:repeat-x;
	background-color:#e0e0e0;
    width:75%;
	margin-left:auto;
	margin-right:auto;
	height:800px;
}

#main{
	width:70%;
	float:left;
	background-image:url(images/main.png);
	background-repeat:repeat-x;
	background-color:#f2f9fe;
	height:600px;
	margin-top:15px;
	margin-left:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

#main h1{
	background-image:url(images/widget_head.png);
	background-repeat:repeat-x;
	margin-top:0;
	border-bottom:1px solid #555;
	padding-left:5px;
	text-shadow:0px 1px 4px #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#login{
	width:60%;
	background-image:url(images/main.png);
	background-repeat:repeat-x;
	background-color:#f2f9fe;
	height:600px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#login h1{
	background-image:url(images/widget_head.png);
	background-repeat:repeat-x;
	text-align:center;
	margin-top:0;
	border-bottom:1px solid #555;
	padding-left:5px;
	text-shadow:0px 1px 4px #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

#main_absolute{
	width:90%;
	background-image:url(images/main.png);
	background-repeat:repeat-x;
	background-color:#f2f9fe;
	height:600px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main_absolute h1{
	background-image:url(images/widget_head.png);
	background-repeat:repeat-x;
	text-align:center;
	margin-top:0;
	border-bottom:1px solid #555;
	padding-left:5px;
	text-shadow:0px 1px 4px #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}


#widget{
	background-color:#f2f9fe;
	background-image:url(images/widget.png);
	background-repeat:repeat-x;
	width: 25%;
	height:200px;
	float:right;
	margin-top:15px;
	margin-right:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#widget h3{
	background-image:url(images/widget_head.png);
	background-repeat:repeat-x;
	margin-top:0;
	text-align:center;
	border-bottom:1px solid #555;
	text-shadow:0px 1px 4px #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#footer{
	background-image:url('images/header2.png');
	color:white;
	background-repeat:repeat-x;
	height:120px;
	width:100%;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;

}