/* EHIS CSS STYLE
   Created by: Derek Diaz Correa */


/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;  border: 0; outline: 0; font-size: 100%;
	vertical-align: baseline; background: transparent;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
 
body {
	font-size: 62.5%;
	text-align: center;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
}
 
/* container - place inside each section or around the entire page depending on your layout */
.container {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}
 
/* for clearing any floats <br class=&quot;clearfloat&quot; /> */
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
 
/*--- header section - put whatever you want here ---*/
#header {
	height:100px;
	width:100%;
}

#logo {
	margin-left:0;
}

#navigation {
	height:100px;
	width:100%;
	overflow:visible;
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

/*--- horizontal &quot;block&quot; menu ---*/
#menu {
	margin-top:14px;
	width:100%;
	float: left;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}


#menu li {
	display: block;
	float: left;
	font-size:14px;
}
#menu li a {
	display: block;
	text-align:center;
	color:#000;
	text-decoration: none;
	width: 125px;
	padding: 10px;
	padding-top:15px;
	padding-bottom:15px;
}

#menu li a:hover {
	background-color:#deefff;

}

 
/*--- content section - put whatever you want here ---*/
#mid {
	height:auto;
	min-height:600px;
	background-image:url(img/p2.png);
	background-repeat:repeat;
}

#content{
	width:100%;
	height:auto;
	margin-top:-37px;
	min-height:750px;
	overflow:visible;
	background: #f9fcf7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#content p{
	padding-left:10px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:5px;
	font-size:16px;

}

 
 
/*--- footer section - put whatever you want here ---*/
#footer {
	height:120px;
	width:100%;
	margin-top:-40px;
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

#footer p{
	text-align:center;
	color:#FFF;
	text-shadow: 1px 1px 1px #000;
	padding-top:60px;
}

.midBox{
	padding:10px;
	margin:15px;
	display:block;
	float:left;
	background: #f2f9fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#form p{
	margin-bottom:-15px;
	margin-left:-15px;
	font-size:10px;
}

.midBox p{
	margin-bottom:-15px;
	margin-left:-15px;
	font-size:10px;
}

.midBox b{
 	text-shadow: 1px 1px 1px #000;
	width:150px;
	display:block;
	text-align:left;
	font-weight:bold;
	font-size:12px;
}

#error{
	color:#C00;
	display:inline;
}

.push{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}

.long{
	width:280px;
}

#dialog-modal{
	display:none;
}

.popup{
	cursor:pointer;
	color:#00C;
	text-decoration:underline;
}

.name{
	width: 80px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

#button a{
	padding: 5px;
	text-decoration:none;
	color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-radius: 5px;
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px #000;
}


#button a:hover{
	background: #23538a; /* Old browsers */
	background: -moz-linear-gradient(top,  #23538a 9%, #a7cfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#23538a), color-stop(100%,#a7cfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #23538a 9%,#a7cfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #23538a 9%,#a7cfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #23538a 9%,#a7cfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #23538a 9%,#a7cfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */
}

.clear{
	clear:left;
}

form{
	margin-left:15%;

}

legend{
	text-shadow: 1px 1px 1px #000;
	font-weight:bold;
	font-size:10px;
}

.title{
    text-shadow: 1px 1px 1px #000;
	font-weight:bold;
	font-size:16px;
	padding-left:10px;
	width:700px;
}

.login{
	height:25px;
	display:block;
	color:#000;
	text-align:center;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
	padding-left:10px;
	padding-top:3px;
	padding-right:10px;
    right:10px;
    width:auto;
	cursor:pointer;
	
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


#nav{
    list-style:none;
    font-weight:bold;
    float:left;
    width:100%; 
	margin-left:10px;
    position:relative;
    z-index:5;
}
#nav ul{
    background:#fff;
    background:rgba(255,255,255,0);
    list-style:none;
    position:absolute;
    left:-9999px;
}
#nav ul li{
	border-top:thin;
	border-top:#FFF;
	background-color:#FFFFFF;
    float:none;
}
#nav ul a{
    
}

#nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
#nav li:hover ul{
    left:0; 
}
#nav li:hover a{
    background-color:#deefff;
    text-decoration:underline;
}
#nav li:hover ul a{
    text-decoration:none;
}
#nav li:hover ul li a:hover{ 
    background: #88bfe8; /* Old browsers */
	background: -moz-linear-gradient(top,  #88bfe8 0%, #70b0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#70b0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #88bfe8 0%,#70b0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
	text-decoration:underline;
}

table.tftable {
	font-size:12px;
	color:#333333;
	width:600px;
	border-width: 1px;
	border-color: #a9a9a9;
	border-collapse: collapse;
}
				
table.tftable th {
	font-size:12px;
	background-color:#d6f0fd;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9a9a9;
	text-align:left;
}

table.tftable tr {
	background-color:#f2f9fe;
}
				
table.tftable td {
	font-size:12px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9a9a9;
}