﻿/** GigaSage Template By Derek Diaz Correa **/

* {
	border:0;
	margin:0;
	padding:0;
}

body 
{
	background:#EEEEEE;
	background-color:#272B2E;
	color:#666;
	font:0.75em/100% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	line-height:1.4em;
}

#header
{
	background:#36393D;
	width:100%;
	border-bottom:5px solid #555;
}

#header:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}


#header_inside
{
	width:900px;
	margin:0 auto;
}

#header_inside img
{
	float:left;	
}

#header_inside ul 
{
	float:right;
	height:100px;
	list-style:none;
	width:600px;
}

#header_inside ul li 
{
	border-right:1px solid #555;
	float:right;
	height:100px;
	list-style:none;
	width:75px;
}

#header_inside ul li a 
{
	color:#fff;
	display:block;
	height:50px;
	line-height:50px;
	padding:50px 0 0;
	text-align:center;
	width:75px;
	text-decoration:none;
	text-shadow:0px 1px 4px #333333;
}

#header_inside ul li a 
{
	color:#fff;
	display:block;
	height:50px;
	line-height:50px;
	padding:50px 0 0;
	text-align:center;
	width:75px;
}

#header_inside ul li a:hover 
{
	background-image:url('images/menuBG.png');
	background-repeat:repeat-x;
	color:#fff;
}
#header_inside ul li a.active 
{	
	background-image:url('images/menuBG.png');
	background-repeat:repeat-x;
	color:#fff;
}

#wrapper
{
	background-color:#E2E2E2;
	width:900px;
	margin:0 auto;
	margin-top:10px;
	height:auto;	
}

/***Content***/

#content
{
	float:left;
	width:600px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    background-color:#E2E2E2;
}

#article
{
	padding-bottom:15px;
	padding-top:15px;
}

#article h1
{
	text-shadow:0px 1px 4px #333333;
    color:#000000
}

#article span
{
	font-size:x-small;
}





/***SIDEBAR***/

#sidebar
{
	float:right;
	width:250px;
}

#sidebar_content
{
	background:#E2E2E2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    margin-bottom:5px;
    color:#000000
}

#sidebar_content h2
{
	text-shadow:0px 1px 4px #333333;
}

#sidebar_content h3
{
	text-shadow:0px 1px 4px #333333;
}


#content_inside_sidebar
{
	border-left:1px solid #bbb;
	clear:both;
	float:right;
	height:auto;
	line-height:175%;
	margin:5px 0;
	padding:0 10px;
	width:200px;

}


/***FOOTER***/
#footer
{
	background:#36393D;
	width:100%;
	border-top:5px solid #555;
	clear:both;
	height:100px;
	margin-bottom:0;
}

#footer:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}


#footer_inside
{
	height:100px;
	margin:0 auto;
	width:800px;
}

#footer_inside p {
	color:#fff;
	line-height:100px;
	text-align:center;
}
