</div>
<div id="footer">
			<div id="footer_inside">
				<p>Copyright &copy; Gigasage 2009 - 2010 | Valid <a href="http://jigsaw.w3.org/css-validator/">CSS</a> &amp; <a href="http://validator.w3.org/">XHTML</a></p> 
			</div>
		</div>

</body>

</html>