﻿		<div id="sidebar">
		
				<div id="sidebar_content">
				<h3>My Latest Flickr Images</h3>
				<img src="images/sidebarDivider.png" alt="Sidebar Divider" />
				<script type="text/javascript" src="script/flickr_widget.js"></script>
				<script type="text/javascript" src="script/jquery-1.3.1.min.js"></script>
				<script type="text/javascript">flickr_user('27865258@N02',6);</script>
				</div>
				
				<div id="sidebar_content">
				<h2>Twitter</h2>
				<img src="images/sidebarDivider.png" alt="Sidebar Divider" />
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script src="script/myTwitter.js"></script>
				
				</div>
			
				<div id="sidebar_content">
				<h2>Blogroll</h2>
				<img src="images/sidebarDivider.png" alt="Sidebar Divider" />
				<ul>
					<li><a href="#" title="">Andreas Viklund</a></li>
					<li><a href="#" title="Freelance Web Site Design">Christopher Robinson</a></li>
					<li><a href="#" title="">Ethan Neuenswander</a></li>
					<li><a href="#" title="">Jeremy Duenas</a></li>
					<li><a href="#" title="">Karen Blundell</a></li>
					<li><a href="#" title="This &#65533;N That">Rubin Kaplan</a></li>
					<li><a href="#" title="">Seanrox</a></li>
				</ul>
				</div>
			
		</div>
